# Introductory Statistics in Python - Session 1
The workshop addresses the fundamentals of statistics management with Python. The objective is to give the student the fundamental knowledge to perform main statistical tasks in Python. The Python codes will be written and executed in Jupyter Notebook. Students will be provided with the necessary databases to be able to run the codes.

### Session: Not defined
### Time: Not defined
### Lecturer: Esteban Cabrera (esteban.cabrera@pucp.edu.pe)

- <a href='#t1'>1. Descriptive Statistics in Python</a>
     - <a href='#1.1.'>1.1 Measures of central tendency</a>
        - <a href='#1.1.1'>Mean</a>
        - <a href='#1.1.2'>Weighted Mean</a>
        - <a href='#1.1.3'>Harmonic Mean</a> 
        - <a href='#1.1.4'>Geometric Mean</a>
        - <a href='#1.1.5'>Median</a>
        - <a href='#1.1.6'>Mode</a> 
     - <a href='#1.2.'>1.2. Measures of spread</a>
     - <a href='#1.3.'>1.3. Summary of Descriptive Statistics </a>
- <a href='#t2'>2. Customiza tu serie de tiempo</a>
     - <a href='#2.1.'>2.1. Haz un subset de la serie de tiempo </a>
     - <a href='#2.2.'>2.2. Añadir líneas en las gráficas  </a>
     - <a href='#2.3.'>2.3. Sombrear regiones en tu gráfica </a>  
     - <a href='#2.4.'>2.4. Agregar anotaciones </a>
- <a href='#t3'>3. Graficar agregados de los datos </a> 
     - <a href='#3.1.'>3.1. Graficar el rolling average</a>
     - <a href='#3.2.'>3.2. Graficar datos agregados por año</a>
- <a href='#t4'>4. Graficar estadísticas y sintetizar la información</a>
     - <a href='#4.1.'>4.1. Graficar boxplots (gráficos de caja)</a>

- <a href='#t5'>5. Descomponer una serie de tiempo</a>
- <a href='#t6'>6. Graficar múltiples series de tiempo </a>

#  <a id='t1'> 1. Descriptive Statistics in Python</a>
In this workshop, we embark on a journey into the world of statistics using the versatile programming language, Python. Statistics plays a pivotal role in extracting meaningful insights from data, and Python provides a powerful platform to perform statistical analysis efficiently. Get ready to explore the foundations of statistical analysis, learn essential Python libraries, and gain the skills to make informed decisions based on data. For this course we will mainly be using numpy and pandas libraries

## <a id='1.1.'> 1.1 Measures of central tendency </a> 
In this section, we delve into the fundamental concept of "Measures of Central Tendency." At the heart of statistical analysis, these measures provide a summary of the central or average value within a dataset, offering crucial insights into its central tendencies. We'll explore three primary measures: the mean, which represents the arithmetic average; the median, which identifies the middle value; and the mode, representing the most frequently occurring value. We will first use numpy arrays to use this functions. Then, we will be using a database containing macroeconomic data from Peru.

In [1]:
>>> import math
>>> import statistics
>>> import numpy as np
>>> from scipy import stats
>>> import pandas as pd

In [52]:
# We create an list and the same list with a nan value
>>> x = [8.0, 1, 2.5, 4, 28.0]
>>> x_nan = [8.0, 1, 2.5, math.nan, 4, 28.0]

In [53]:
# Alternatively
>>> x_nan = [8.0, 1, 2.5, np.nan, 4, 28.0]

In [54]:
# We create their array and series versions
>>> y, y_nan = np.array(x), np.array(x_nan)
>>> z, z_nan = pd.Series(x), pd.Series(x_nan)

### <a id='1.1.1'> Mean </a> 
We can calculate the mean dividing the sum againts the length. This does not work if we include the nan value.
The ```mean()``` and ```fmean()``` funtions return the same value in a more elegant way. ```fmean()``` always return a float number and is faster than ```mean()```.

In [5]:
# We can calculate the mean dividing the sum againts the length
mean = sum(x) / len(x)
print(mean)

8.7

In [6]:
# This does not work if we include the nan value
mean = sum(x_nan) / len(x_nan)
print(mean)

nan

In [7]:
# We can apply Python built-in functions of the statistics package
mean = statistics.mean(x)
print(mean)
mean = statistics.fmean(x)
print(mean)

8.7
8.7

In [8]:
# But they do not work wit nan values
mean = statistics.mean(x_nan)
print(mean)
mean = statistics.fmean(x_nan)
print(mean)

nan
nan

 Numpy also offers us the ```np.mean()``` and ```np.nanmean()``` functions, as well as the ```.mean()``` method.

In [9]:
# We can also use the numpy function on lists
mean = np.mean(x)
print(mean)
mean = np.mean(x_nan)
print(mean)

8.7
nan

In [10]:
# We can also use numpy method on arrays
mean = y.mean()
print(mean)
mean = y_nan.mean()
print(mean)

8.7
nan

In [11]:
# We can also use numpy method on series. The pandas method authomatically ignores nan values
mean = z.mean()
print(mean)
mean = z_nan.mean()
print(mean)

8.7
8.7

In [12]:
# We can do the same for lists and arrays for nanmean()
print(np.nanmean(y_nan))
print(np.nanmean(x_nan))

8.7
8.7

### <a id='1.1.2'> Weighted mean </a> 
The weighted mean, or weighted average, is an extension of the regular mean in statistics. It allows us to give different weights to individual data points, indicating their varying impact on the overall result. You can calculate the weighted mean with built-in Python functions by combining ```sum()``` with either ```range()``` or ```zip()```.

In [13]:
# We define the values and their weights
>>> x = [8.0, 1, 2.5, 4, 28.0]
>>> w = [0.1, 0.2, 0.3, 0.25, 0.15]
# We calculate the weighted mean
wmean = sum(w[i] * x[i] for i in range(len(x))) / sum(w)
print(wmean)

6.95

In [14]:
# Alternatively
wmean = sum(x_ * w_ for (x_, w_) in zip(x, w)) / sum(w)
print(wmean)

6.95

You also can use ```np.average()``` to get the weighted mean of NumPy arrays or pandas Series

In [15]:
# We calculate the weighted mean of an array
wmean = np.average(y, weights=w)
print(wmean)

6.95

In [16]:
# We calculate the weighted mean of a pandas series
wmean = np.average(z, weights=w)
print(wmean)

6.95

An alternative approach involves utilizing the element-wise product of w * y and then applying ```np.sum()``` or ```.sum()```(w * y).sum() / w.sum().

In [17]:
w = np.array(w)
(w * y).sum() / w.sum()

6.95

It doesn't work when the data contains nan values

In [18]:
w = np.array([0.1, 0.2, 0.3, 0.0, 0.2, 0.1])
wmean = np.average(y_nan, weights=w)
print(wmean)
wmean = np.average(z_nan, weights=w)
print(wmean)

nan
nan

### <a id='1.1.3'> Harmonic Mean </a> 
The harmonic mean, unlike the weighted mean, highlights the importance of smaller values in a dataset. The harmonic mean accounts for reciprocal values, making it particularly useful in scenarios where rates or ratios play a crucial role. It formula is given by
$$
\frac{n}{ \sum_i(1/x_i)}, \text{where } i = 1, 2, ..., n
$$

In Python, you can easily calculate the harmonic mean using functions like ```scipy.stats.hmean()``` or ```statistics.harmonic_mean(x)```

In [19]:
x = [8.0, 1, 2.5, 4, 28.0]
hmean = len(x) / sum(1 / item for item in x)
print(hmean)

2.7613412228796843

In [20]:
# We can use scipy
hmean = stats.hmean(x)
print(hmean)

2.7613412228796843

In [21]:
# Or we can use the built-in statistics package
hmean = statistics.harmonic_mean(x)
print(hmean)

2.7613412228796843

In [22]:
# If there is a nan value it returns nan
statistics.harmonic_mean(x_nan)

nan

In [23]:
# If there is a 0 it returns 0
statistics.harmonic_mean([1, 0, 2])

0

In [24]:
# If there a negative number, it returns an error
#statistics.harmonic_mean([1, 2, -2])

In [25]:
# We can apply it to arrays and pandas series
print(stats.hmean(y))
print(stats.hmean(z))

2.7613412228796843
2.7613412228796843

###  <a id='1.1.4'> Geometric Mean </a>  
The geometric mean is expressed mathematically as the $n-th$ root of the product of all $n$ elements $x_i$ in a dataset $x$:

$$\sqrt[n]{\prod_{i=1}^{n} x_i}, \text{where } (i = 1, 2, \ldots, n)$$

You can incorporate the geometric mean using pure Python in the following manner

In [26]:
gmean = 1
for item in x:
     gmean *= item

gmean **= 1 / len(x)
print(gmean)

4.677885674856041

Additionally, we can use ```statistics.geometric_mean()```

In [27]:
# We can also use the statistics built-in function
gmean = statistics.geometric_mean(x)
gmean

4.67788567485604

In [28]:
# Doesn't work with nan values
gmean = statistics.geometric_mean(x_nan)
gmean

nan

You can also get the geometric mean using ```scipy.stats.gmean()``` in arrays and pandas series

In [46]:
print(stats.gmean(y))

print(stats.gmean(y_nan))

4.67788567485604
nan

In [44]:
print(stats.gmean(z))

print(stats.gmean(z_nan))

4.67788567485604
nan

###  <a id='1.1.5'> Median </a>   
The median of a sample corresponds to the middle element of the sorted dataset, regardless of whether the sorting is done in ascending or descending order. For an odd number of elements $((n))$, the median is the value at the middle position, specifically at $0.5((n + 1))$. In the case of an even number of elements, the median is determined by taking the average of the two middle values located at positions $0.5(n)$ and $0.5(n + 1)$.

In [57]:
x = [8.0, 1, 2.5, 4, 28.0]
x_nan = [8.0, 1, 2.5, math.nan, 4, 28.0]
y, y_nan = np.array(x), np.array(x_nan)
z, z_nan = pd.Series(x), pd.Series(x_nan)

This function ```calculate_median()``` takes a dataset as input, sorts it, and computes the median, considering both odd and even-length datasets.

In [60]:
def calculate_median(data):
    n = len(data)
    sorted_data = sorted(data)

    if n % 2:
        median_value = sorted_data[round(0.5 * (n - 1))]
    else:
        index = round(0.5 * n)
        median_value = 0.5 * (sorted_data[index - 1] + sorted_data[index])

    return median_value

median_ = calculate_median(x)
print("Median:", median_)

Median: 4

We can also use the ```statistics.median()``` function. The sorted form of x, [1, 2.5, 4, 8.0, 28.0], places 4 at the middle position. Removing the last item (28.0) from x, the sorted version becomes [1, 2.5, 4, 8.0]. In this case, with two middle elements, 2.5 and 4, their average is 3.25.

In [62]:
median_ = statistics.median(x)
median_

4

In [61]:
median_ = statistics.median(x[:-1])
median_

3.25

Additionally, we can use ```statistics.median_low()``` and ```statistics.median_high()```. When the element count is odd, these functions operate similarly to median(), as there is a lone middle value. However, if the count is even, ```median_low()``` yields the lower middle value, while ```median_high()``` provides the higher middle value.

In [63]:
# median_low will return 2.5
median_ = statistics.median_low(x[:-1])
median_

2.5

In [64]:
# median_high will return 4
median_ = statistics.median_high(x[:-1])
median_

4

This functions work well with nan, unlike most other functions

In [72]:
print(statistics.median(x_nan))
print(statistics.median_low(x_nan))
print(statistics.median_high(x_nan))

6.0
4
8.0

We can use Numpy similarly with ```np.median()```, giving us the same results for lists, arrays and series.

In [70]:
median_ = np.median(y)
print(median_)

median_ = np.median(z[:-1])
print(median_)

4.0
3.25

In case we want to include nan values, then we use ```np.nanmedian()```.

In [74]:
median_ = np.nanmedian(y_nan)
print(median_)

median_ = np.nanmedian(z_nan[:-1])
print(median_)

4.0
3.25

Finally, we have the pandas Series method ```.median()``` that ignores nan values by default

In [76]:
print(z.median())
print(z_nan.median())

4.0
4.0

### <a id='1.1.6'> Mode </a>  
The mode in a sample refers to the value that appears most frequently in the dataset. If there isn't a singular value with the highest frequency, the dataset is considered multimodal as it contains multiple modal values. We can easily obtain the mode this way:

In [79]:
u = [6, 3, 6, 9, 12, 9, 6]
mode_ = max((u.count(item), item) for item in set(u))[1]
mode_

6

We can also obtain the mode with ```statistics.mode()``` and ```statistics.multimode()```

In [80]:
mode_ = statistics.mode(u)
mode_

6

In [82]:
u = [6, 3, 6, 9, 12, 9, 6, 9]
mode_ = statistics.multimode(u)
mode_

[6, 9]

In [93]:
v = [11, 13, 11, 13, 17, 13, 11]
mode_ = statistics.multimode(v)
mode_

[11, 13]

Both functions handle nan values as regular values and can return nan as the modal value

In [83]:
statistics.multimode([2, math.nan, 2, math.nan, 5])

[2, nan]

You can also get the mode with ```scipy.stats.mode()```

In [94]:
u = np.array(u)
mode_ = stats.mode(u)
mode_

ModeResult(mode=6, count=3)

We can get the the mode and its number of occurrences as NumPy arrays with dot notation

In [88]:
print(mode_.mode)
print(mode_.count)

6
3

Pandas Series have the method ```.mode()``` that handles multimodal values well and ignores nan values by default

In [95]:
u, v, w = pd.Series(u), pd.Series(v), pd.Series([2, 2, math.nan])
print(u.mode())
print(v.mode())
print(w.mode())

0    6
1    9
dtype: int32
0    11
1    13
dtype: int64
0    2.0
dtype: float64

### Now let's work with a dataframe

In [30]:
# We read and transform the database
>>> peru = pd.read_excel('databases/peru.xlsx', parse_dates=['Year'])
>>> peru = peru.drop(columns=['Unnamed: 0', 'Country'])
>>> peru.set_index('Year', inplace=True)

In [31]:
# We analize it
peru.head()

,Current account balance,General government net debt,General government total expenditure,Unemployment rate,CPI,CBI
Year,,,,,,
1980-01-01,-5.175,NaN,NaN,7.326,59.145,0.43875
1981-01-01,-9.673,NaN,NaN,6.800,75.433,0.43875
1982-01-01,-9.142,NaN,NaN,6.400,64.460,0.43875
1983-01-01,-6.842,NaN,NaN,9.000,111.149,0.43875
1984-01-01,-1.381,NaN,NaN,8.900,110.209,0.43875

In [32]:
# We further analyse it with the describe() function
peru.describe()

,Current account balance,General government net debt,General government total expenditure,Unemployment rate,CPI,CBI
count,42.000000,22.000000,22.000000,42.000000,41.000000,41.000000
mean,-3.368333,17.760636,21.070182,7.779119,315.795195,0.702226
std,3.052220,13.084920,1.740462,1.752538,1266.240395,0.171591
min,-9.673000,1.499000,18.593000,4.156000,0.192000,0.438750
25%,-5.428250,7.350000,19.901500,6.710500,2.804000,0.438750
50%,-2.966000,12.611500,20.948500,7.863500,3.759000,0.811250
75%,-1.285000,29.997250,21.466000,8.975000,73.529000,0.811250
max,3.331000,38.672000,26.862000,13.000000,7481.691000,0.811250

In [33]:
peru.count()

Current account balance                 42
General government net debt             22
General government total expenditure    22
Unemployment rate                       42
CPI                                     41
CBI                                     41
dtype: int64

In [34]:
peru.mean()

Current account balance                  -3.368333
General government net debt              17.760636
General government total expenditure     21.070182
Unemployment rate                         7.779119
CPI                                     315.795195
CBI                                       0.702226
dtype: float64

In [35]:
peru.max()

Current account balance                    3.33100
General government net debt               38.67200
General government total expenditure      26.86200
Unemployment rate                         13.00000
CPI                                     7481.69100
CBI                                        0.81125
dtype: float64

In [36]:
peru.min()

Current account balance                 -9.67300
General government net debt              1.49900
General government total expenditure    18.59300
Unemployment rate                        4.15600
CPI                                      0.19200
CBI                                      0.43875
dtype: float64

We can equally inspect it using the numpy library. We can use np.mean(), np.median() and stats.mode()

In [37]:
print(f'The mean for Current account balance is {np.mean(peru["Current account balance"])}')
print(f'The mean for General government net debt is {np.mean(peru["General government net debt"])}')
print(f'The mean for General government total expenditure is {np.mean(peru["General government total expenditure"])}')
print(f'The mean for Unemployment rate is {np.mean(peru["Unemployment rate"])}')
print(f'The mean for CPI is {np.mean(peru["CPI"])}')
print(f'The mean for CBI is {np.mean(peru["CBI"])}')

The mean for Current account balance is -3.368333333333333
The mean for General government net debt is 17.760636363636365
The mean for General government total expenditure is 21.07018181818182
The mean for Unemployment rate is 7.779119047619046
The mean for CPI is 315.7951951219512
The mean for CBI is 0.7022256097560977

In [38]:
print(f'The median for Current account balance is {np.median(peru["Current account balance"])}')
print(f'The median for General government net debt is {np.median(peru["General government net debt"])}')
print(f'The median for General government total expenditure is {np.median(peru["General government total expenditure"])}')
print(f'The median for Unemployment rate is {np.median(peru["Unemployment rate"])}')
print(f'The median for CPI is {np.median(peru["CPI"])}')
print(f'The median for CBI is {np.median(peru["CBI"])}')

The median for Current account balance is -2.966
The median for General government net debt is nan
The median for General government total expenditure is nan
The median for Unemployment rate is 7.8635
The median for CPI is nan
The median for CBI is nan

In [39]:
print(f'The mode for Current account balance is {stats.mode(peru["Current account balance"])[0]}')
print(f'The mode for General government net debt is {stats.mode(peru["General government net debt"])[0]}')
print(f'The mode for General government total expenditure is {stats.mode(peru["General government total expenditure"])[0]}')
print(f'The mode for Unemployment rate is {stats.mode(peru["Unemployment rate"])[0]}')
print(f'The mode for CPI is {stats.mode(peru["CPI"])[0]}')
print(f'The mode for CBI is {stats.mode(peru["CBI"])[0]}')

The mode for Current account balance is -9.673
The mode for General government net debt is nan
The mode for General government total expenditure is nan
The mode for Unemployment rate is 9.4
The mode for CPI is 0.192
The mode for CBI is 0.81125

What can we do about all those nans ?

In [40]:
# We can either fill them with 0s 
peru_filled = peru.fillna(0).head()
peru_filled

,Current account balance,General government net debt,General government total expenditure,Unemployment rate,CPI,CBI
Year,,,,,,
1980-01-01,-5.175,0.0,0.0,7.326,59.145,0.43875
1981-01-01,-9.673,0.0,0.0,6.800,75.433,0.43875
1982-01-01,-9.142,0.0,0.0,6.400,64.460,0.43875
1983-01-01,-6.842,0.0,0.0,9.000,111.149,0.43875
1984-01-01,-1.381,0.0,0.0,8.900,110.209,0.43875

In [41]:
# Or drop the observations with nans
peru_dropped = peru.dropna()
peru_dropped.head()

,Current account balance,General government net debt,General government total expenditure,Unemployment rate,CPI,CBI
Year,,,,,,
2000-01-01,-3.064,37.680,21.735,7.847,3.759,0.81125
2001-01-01,-2.351,37.060,20.934,9.246,1.975,0.81125
2002-01-01,-2.031,38.128,19.649,9.420,0.192,0.81125
2003-01-01,-1.592,38.672,20.113,9.424,2.261,0.81125
2004-01-01,0.094,34.958,19.558,9.436,3.662,0.81125

In [42]:
peru_dropped.describe()

,Current account balance,General government net debt,General government total expenditure,Unemployment rate,CPI,CBI
count,21.000000,21.000000,21.000000,21.000000,21.000000,2.100000e+01
mean,-1.538429,17.664095,20.952190,8.064381,2.657238,8.112500e-01
std,2.203459,13.400022,1.690879,1.653685,1.197392,2.275280e-16
min,-4.814000,1.499000,18.593000,5.938000,0.192000,8.112500e-01
25%,-2.868000,6.912000,19.831000,6.742000,1.827000,8.112500e-01
50%,-1.975000,12.175000,20.946000,7.880000,2.804000,8.112500e-01
75%,-0.520000,31.966000,21.352000,9.246000,3.548000,8.112500e-01
max,3.331000,38.672000,26.862000,13.000000,5.788000,8.112500e-01

In [43]:
peru_filled.describe()

,Current account balance,General government net debt,General government total expenditure,Unemployment rate,CPI,CBI
count,5.000000,5.0,5.0,5.000000,5.000000,5.000000e+00
mean,-6.442600,0.0,0.0,7.685200,84.079200,4.387500e-01
std,3.358138,0.0,0.0,1.200914,24.984618,6.206335e-17
min,-9.673000,0.0,0.0,6.400000,59.145000,4.387500e-01
25%,-9.142000,0.0,0.0,6.800000,64.460000,4.387500e-01
50%,-6.842000,0.0,0.0,7.326000,75.433000,4.387500e-01
75%,-5.175000,0.0,0.0,8.900000,110.209000,4.387500e-01
max,-1.381000,0.0,0.0,9.000000,111.149000,4.387500e-01

## <a id='1.1.'> 1.2 Measures of spread </a> 
In this section, we delve into the essential tools that help us understand the variability and dispersion within a dataset. Measures such as range, variance, and standard deviation provide insights into how data points are distributed around the central tendency. By using these measures of spread, you'll gain a deeper understanding of the distribution of data, enabling you to make informed decisions and draw meaningful conclusions from your statistical analyses.